/*
	Exponent by Pixelarity
	pixelarity.com @pixelarity
	License: pixelarity.com/license
*/

/* Basic */

	body, input, select, textarea {
		font-size: 12pt;
	}

	h1 br, h2 br, h3 br, h4 br, h5 br, h6 br {
		display: none;
	}

/* Icon */

	.icon.major {
		height: 10em;
		line-height: 10em;
		width: 10em;
	}

/* List */

	ul.major-icons {
		margin-top: 0;
	}

/* Header */

	#skel-layers-wrapper {
		padding-top: 3em;
	}

	#header {
		height: 3em;
		line-height: 3em;
	}

		#header h1 a {
			font-size: 1em;
		}

/* Banner */

	#banner {
		background-attachment: scroll;
		background-position: top left, top 75%;
		height: calc(100vh - 3em);
	}

		#banner .inner .footnote {
			position: relative;
		}

/* Main */

	#main {
		padding: 4.5em 0 2.5em 0;
	}

		#main > section.feature {
			padding: 4.5em 0 2.5em 0;
			text-align: center;
		}

			#main > section.feature.major {
				padding-left: 2em;
				padding-right: 2em;
			}

		#main > section:not(.feature) + section.feature {
			margin-top: 4.5em;
		}

		#main > section.feature + section:not(.feature) {
			padding-top: 4.5em;
		}

/* Footer */

	#footer {
		padding: 4.5em 0;
	}

		#footer .about {
			text-align: center;
		}

		#footer .copyright {
			margin-top: 2.5em;
			padding-top: 3.375em;
		}

/* Menu Panel */

	#menuPanel {
		padding: 1.75em 1.5em;
	}

		#menuPanel h2 {
			font-size: 1em;
		}

		#menuPanel .closer:before {
			top: 0.5em;
		}

		#menuPanel #menuPanel-content ul li > a, #menuPanel #menuPanel-content ul li > span {
			line-height: 3em;
		}