/********************************************************************************************/
/**************************************** RESPONSIVE ***************************************/
/******************************************************************************************/

/* Large desktop */

@media (max-width: 1200px) {   
    .ak-container, 
    body.boxed-layout{
        width: 100%;
        padding: 0 10px;
    }
    .slider-caption{
        padding: 10px 0;
    }

    /*** HEADER ***/
    #site-navigation .menu > ul > li > a {
        padding: 15px;
    }
    .header-wrap .search-icon{
        padding: 0 10px;
    }

    /*** BUSINESS ACTIVITIES AND EVENT-LIST ***/
    .events-section .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    .event-list-wrapper, .business-activities-wrapper{
        margin-left: 0;
    }
    .business-section .business-wrapper{
        margin-left: 2%;
        width: 32%;
    }
    .business-section .business-wrapper:first-child{
        margin-left: 0;
    }

    /*** WHAT CLIENTS SAY ***/
    .clients-say-section .testimonial-wrap {
        padding: 0 30px;
        width: 100%;
    }
    .clients-say-section .bx-wrapper .bx-controls-direction a.bx-prev{
        left: -4%;
    }
    .clients-say-section .bx-wrapper .bx-controls-direction a.bx-next{
        right: -104%;
    }

    /*** FEATURED POST ***/
    .featured-section .featured-post-wrapper {
        margin-left: -1%;
    }
    .featured-section .featured-post{
        margin-left: 1%;
        width: 24%;
    }


    /*================ BLOG SECTION =====================*/
    .blog-list-content .blog-list .blog-thumbnail {
        margin-right: 20px;
        width: 33%;
    }
    .blog-list-content .blog-list .blog-detail {
        width: 62%;
    }
    .blog-list-content .blog-list .blog-detail .by-line{
        width: 64%;
    }

    /*** CONTACT-US-SECTION ***/
    .google-section-wrap {
        margin-left: 0;
        right: 0;
        left: auto;
    }

    /*=======================================
    FOOTER SECTION
    ========================================*/
    #top-footer .footer1 {
        width: 26%;
        margin-right:2%;
    }
    #top-footer .footer2, #top-footer .footer3, #top-footer .footer4 {
    width: 24%;
    }
    .both-sidebar .sidebar .hamza_lite-recent-rightbar-content{
        width: 69%;
    }

}

@media (min-width: 1025px) and (max-width: 1068px){
    .slider-wrap .bx-wrapper .bx-controls-direction{
        top: 145px;
    }
} 

@media screen and (max-width: 1024px){
    .sidebar .hamza_lite-recent-rightbar-content{
        width: 224px;
    }
    .boxed-layout .sidebar .hamza_lite-recent-rightbar-content{
        width: 69%;
    }
    .slider-wrap .bx-wrapper .bx-controls-direction{
        bottom: 0;
        top: auto;
    }
    .clients-say-section .testimonial-slide {
    background: rgba(0, 0, 0, 0) url("images/testimonial-quote.png") no-repeat scroll 3% 0;

}

/******************************************************************************************/

@media screen and (max-width:992px){
    .ak-container{ 
        width: 768px ;
    }
        
    /*** FOOTER ***/
    #top-footer .footer{
        width: 50%;
    }

    #about-section .welcome-detail{
        padding: 0;
    }

    #top-footer .hide ,
    #mid-section .hide{
        display: block;
        margin-bottom: 25px;
    }
    .slider-caption{
        display: none;
    }

    /*** HEADER ***/
    header.site-header{
        padding: 10px 0;
    }
    .logo-center #site-navigation .menu{
        display: none;
    }
    .logo-center #site-navigation .menu > ul > li > a{
        line-height: 42px;
    }
    .site-branding.main-logo {
        float: left;
        padding: 0;
        width: auto;
        margin-bottom: 10px;
    }
    .right-header-top {
        display: inline-block;
        float: right;
        margin-top: 10px;
        text-align: center;
        width: auto;
    }

    
    .menu-toggle{ 
        background: #58b25e url("../images/menu.png") no-repeat scroll center center;
        border-radius: 5px;
        cursor: pointer;
        display: block;
        float: none;
        height: 48px;
        margin: 10px 0;
        text-indent: -9999px;
        width: 48px;
        transition:all ease-in-out 0.5s;
        -webkit-transition:all ease-in-out 0.5s;
        -moz-transition:all ease-in-out 0.5s;
    }
    .menu-toggle:hover{
        background: #3498db url("../images/menu.png") no-repeat scroll center center;
        animation-name:pulse;
        -webkit-animation-name:pulse;
        -moz-animation-name:pulse;
        animation-duration:0.5s;
        -webkit-animation-duration:0.5s;
        -moz-animation-duration:0.5s;
    } 
    /*.header-wrap{
        position: relative;
    }*/
    .header-wrap .main-navigation{
        float: none;
        text-align: left;
    }
    #site-navigation .menu{
        display: none;
        float: none;
        margin: 0;
        width: auto;
    }
    #site-navigation .menu > ul > li {
        display: block;
        float: none;
        border-bottom:1px solid #DDD;
        text-align: left;
    }

    #site-navigation .menu > ul > li > a {
        border: medium none;
        line-height: 42px;
        padding: 0 10px;
    }
    #site-navigation .menu > ul > li:hover > a:before, 
    #site-navigation .menu > ul > li.current_page_item > a:before, 
    #site-navigation .menu > ul > li.current-menu-item > a:before, 
    #site-navigation .menu > ul > li.current_page_ancestor > a:before, 
    #site-navigation .menu > ul > li.current-menu-ancestor > a:before{
        display: none;
    }
    #site-navigation .menu ul ul{
        border:none;
        position: static;
        box-shadow:none;
    }
    .header-wrap .main-navigation {
        margin-top: 5px;
        min-width: 50%;
    }
    .header-wrap .search-icon{
        display: none;
    }
    .menu-toggle{
        right: 5px;
    }

    /*** FEATURED POST ***/
    .featured-section .featured-post{
        margin: 0 4% 4% 0;
        width: 46%;
    }
    .featured-section .featured-post img{
        width: 100%;
    }
    .clients-say-section .bx-wrapper .bx-controls-direction a.bx-prev{
        left: -5%;
    }

    /*==============================================
    BLOG SECTION
    ================================================*/
    .blog-list-content .blog-list {
        float: none;
        margin-bottom: 4%;
        margin-right: 0;
        text-align: left;
        width: 100%;
    }
    .blog-list-content .blog-list .blog-thumbnail {
        margin-right: 20px;
        width: auto;
    }
    .sidebar .hamza_lite-recent-rightbar-content{
        width: auto;
    }
    /*TESTIMONIAL SECTION*/
    
    
    .clients-say-section .testimonial-slide{
        padding: 0 40px;
        line-height: 25px;
        background: none;
    }

    /*** SIDEBAR ****/
    #primary, 
    .sidebar , 
    .both-sidebar #primary-wrap #primary,
    .both-sidebar #primary-wrap .left-sidebar.sidebar,
    .both-sidebar .right-sidebar,
    .left-sidebar #primary,
    .left-sidebar.sidebar{
        float: none;
        width: 100%;
    }
    .both-sidebar #primary-wrap {
        float: none;
        width: 100%;
    }
    #primary{
        margin-bottom: 15px;
    }
    #top-footer .footer1{
        margin-right: 0;
    }
    footer #middle-footer, #left-footer .footer-socials{
        float: none;
        text-align: center;
    }
    .footer-menu ul{
        text-align: center;
    }
    .copyright{
        margin-top: 20px;
        text-align: center;
    }
}


/******************************************************************************************/

/* Landscape phone to portrait tablet */
@media screen and (max-width:768px){

    #about-section, #mid-section, #top-section, #bottom2-section, #top-footer{
        padding: 65px 0;
    }
    .ak-container{ 
        width: 100% ;
    }
    

    /*** BUSINESS ACTIVITIES ***/
    .business-section .business-wrapper{
        display: inline-block;
        float: none;
        margin: 0 0 20px;
        width:100%;
    }
    .business-section .business-wrapper:last-child{
        margin-bottom: 0;
    }
    
    /****************************************
    FEATURE SECTION
    *****************************************/
    .featured-section .featured-content {
        padding: 20px 0;
    }
    

}

/******************************************************************************************/

@media screen and (max-width: 640px) {
    h1{ font-size:28px;}
    h2{ font-size:24px;}
    h3{ font-size:20px;}
    h4{ font-size:18px;}
    h5{ font-size:16px;}
    h6{ font-size:14px;}
    
    /*================================================
    HEADER SEARCH AND SOCIAL
    ================================================*/
    .right-header-top{
        margin-top: 0;
    }

    #top-header .footer-socials {
        float: none;
        margin-bottom: 10px;
    }
    .header-wrap .ak-search {
        float: none;
        margin-left: 0px;
    }



    /*=========================================
    BLOG SECTION
    =========================================*/
    .blog-list-content .blog-list{
        float: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 40px;
    }
    .cat-portfolio-list{
        height: 220px;
    }
    
    .header-wrap .searchform{
        width: 100%;
    }
    .clients-say-section .testimonial-slide {
        padding: 0 30px;
    }



}

/******************************************************************************************/

/* Landscape phones and down */
@media screen and (max-width:520px){
    
    .cat-portfolio-list{
        height: 223px;
    }
    .logo-center .footer-socials{
        float: none;
        width: 100%;
        text-align: center;
    }
    #top-header .footer-socials{
        text-align: left;
    }
    .right-header-top {
        display: inline-block;
        float: none;
        margin-top: 10px;
        text-align: center;
        width: 100%;
    }
    .site-branding.main-logo {
        float: none;
        width: 100%;
        padding:10px 0; 
    }
    .logo-left .site-branding.main-logo img{
        height: auto !important;
        margin: 0;
    }
    .header-wrap .ak-search {
        display: inline-block;
        float: none;
        width: 100%;
        margin-left: 0px;
    }
    .header-wrap .searchform{
        width: 100%;
    }

    #slider-banner .bx-wrapper .bx-pager{
        display: none;
    }
    .slider-caption,
    .slider-wrap .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    .featured-section .featured-post-wrapper{
        margin-left: 0;
    }
    .featured-section .featured-post{
        width: 100%;
        float: none;
        margin-left: 0;
    }

    /*========================================
    BLOG SECTION
    =========================================*/
    .blog-list-content .blog-list{
        text-align: center;
    }
    .blog-list-content .blog-list .blog-thumbnail{
        float: none;
        width: 100%;
    }
    .blog-list-content .blog-list .blog-thumbnail img{
        width: 100%;
    }
    .blog-list-content .blog-list .blog-detail{
        float: none;
        width: 100%;
    }
    .blog-list-content .blog-list .blog-detail .blog-title{
        margin-top: 10px;
    }
    .blog-list-content .blog-list .blog-detail .by-line{
        width: 64%;
    }

    /*** FOOTER ***/
    #top-footer .footer {
        margin: 0 0 20px;
        width: 100%;
        min-height: 0;  
        text-align: center;
    }
    #top-footer .footer .widget{
        background: none;
        padding: 0;
        margin:0;
    }
    #google-map .ak-contact-address{
        width: 100%;
    }
    input[type="text"], 
    input[type="email"], 
    input[type="url"], 
    input[type="password"], 
    input[type="search"],
    textarea,
    textarea#comment{
        width: 100%;
    }
    .entry-thumbnail,
    .entry-exrecpt {
        width: 100%;
        float: none;
        margin-bottom: 10px;
    }
    .cat-portfolio-list,
    .cat-testimonial-list{
        width: 100%;
        float: none;
    }
    .cat-portfolio-list img,
    .cat-testimonial-list img{
        width: 100%;
    }
    .sidebar .hamza_lite-recent-rightbar-content{
        width: 233px
    }
    .cat-testimonial-list{
        border-right: none;
    }

    /*=================================================
    TESTIMONIAL SECTION
    ==================================================*/
    
    .cat-testimonial-list{
        min-height: auto;
        border-bottom: 1px dashed #ccc;
    }
    .clients-say-section .testimonial-wrap{
        padding: 0px; 
    }

    .clients-say-section .testimonial-slide .testimonial-excerpt{
        margin-bottom: 20px;
    }
    .clients-say-section .testimonial-thumbnail{
        display: block;
        margin: 0 auto;
        width: 94px;
    }
    .clients-say-section .testimonial-name-box{
        top: 0;
        margin-left: 0;
        text-align: center;
    }
    .clients-say-section .testimoinal-client-name{
        font-size: 18px;
        text-align: center;
    }
    .clients-say-section .testimonail-designation{
        font-size: 14px;
        text-align: center;
    }
    .clients-say-section .bx-wrapper .bx-controls-direction a{
        display: none;
    }
    div.wpcf7 {
        float: none;
        margin-right: 0;
        padding: 0;
        width: 100%;
    }
    .contact-info {
        float: none;
        width: 100%;
    }

    /* AUTHOR PAGE */
    .author .entry-thumbnail, .author .entry-exrecpt {
        float: none;
        width: 100%;
        clear:both;
        height: 250px;
        overflow: hidden;
    }
    .author .entry-thumbnail img{
        width: 100%;
    }
    #top-footer .apsc-theme-2 .apsc-each-profile {
    display: inline-block;
    margin: 0 auto 5px;
    min-height: 73px;
    text-align: center;
    float: none;
}

}

@media screen and (min-width:993px){
    #site-navigation .menu{
        display: inline-block !important;
        width: auto;
        margin: -20px 0;
    }
}

@media screen and (max-width: 320px){
    .cat-portfolio-list .entry-meta{
        display: block;
    }
    .nav-links .nav-previous, .nav-links .nav-next{
        width: 100%;
        float: none;
    }
}