wp-config.php

.idea
env/

# C extensions
*.so

# General things that just shouldn't be tracked
local_*
*.local
settings_*.py
*.log
*.tar.gz
*.bak
*.swp

*.pyc
.sass-cache
fab_settings.py
*.lock
.bundle
vendor

.DS_Store
