wp-config.php
wp-content/uploads


#################################################
# General things that just shouldn't be tracked #
#################################################

.idea
env/

# C extensions
*.so

local_*
*.local
settings_*.py
*.log
*.tar.gz
*.bak
*.swp

*.pyc
.sass-cache
fab_settings.py
*.lock
.bundle
vendor

.DS_Store
